<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/landingpage.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        table{
            margin-left: 0;
        }
        .header-bg img {
    width: 100%;
    height: 629px !important;
}
#contact {
    width: 100%;
    height: auto;
    background-color: #6b975e;
}
figure {
    font-size: larger;
    color: azure;
}
#products .container .product figure figcaption {
    font-family: "Franklin Gothic Medium";
    color: rgb(186 211 184);
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    text-align: center;
    padding: 0rem 0rem 0rem;
    text-transform: uppercase;
}
section#products {
    background-color: darkslategray;
}
#collections {
    background-color: #114749c2;
    width: 100%;
    display: block;
    /* margin: 6rem 0rem; */
    /* background-color: #f5f2f1; */
    padding: 1.4rem 0rem;
}
#products .container .products-header p {
    font-family: Cambria;
    color: rgb(148 211 153);
    font-size: 1rem;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
}
#collections {
    width: 100%;
    display: block;
    margin: 1rem 0rem;
    /* background-color: #f5f2f1; */
    /* padding: 1.4rem 0rem; */
}
#blog {
    width: 100%;
    display: block;
    /* margin: 6rem 0rem 0rem; */
    background-color: #f2f2f2;
    padding: 3rem 0rem 6rem;
}
body {
  font-family: 'open sans';
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }
  a{
      cursor: pointer !important;
      text-decoration: none !important;
  }

     /**  comment styles  **/
     body {
	 font-family: "Lato", sans-serif;
	 font-size: 1rem;
	 color: #333;
	 background-color: #f4f4f4;
}
 .user_avatar {
	 width: 65px;
	 height: 65px;
	 display: inline-block;
	 vertical-align: middle;
}
 .user_avatar img {
	 width: 100%;
	 height: 100%;
	 border-radius: 50%;
}
 .comment_block {
	 width: 65%;
	 height: 100%;
	 margin: 0 auto;
	 padding: 10px;
}
 .comment_block .create_new_comment {
	 width: 100%;
	 padding: 20px 0;
}
 .comment_block .create_new_comment .input_comment {
	 display: inline-block;
	 vertical-align: middle;
	 margin-left: 10px;
	 width: calc(100% - 75px);
}
 .comment_block .create_new_comment .input_comment input[type="text"] {
	 width: 100%;
	 font-family: "Lato", sans-serif;
	 font-weight: 300;
	 font-size: 1.3rem;
	 padding: 10px;
	 border: none;
	 border-bottom: 2px solid #f2f2f2;
}
 .comment_block .create_new_comment .input_comment input[type="text"]:focus {
	 outline: none;
	 border-bottom: 2px solid #e6e6e6;
}
 .comment_block .new_comment {
	 width: 100%;
	 height: auto;
	 padding: 20px 0;
	 border-top: 1px solid #e6e6e6;
}
 .comment_block .new_comment .user_comment {
	 list-style-type: none;
}
 .comment_block .new_comment .comment_body {
	 display: inline-block;
	 vertical-align: middle;
	 width: calc(100% - 75px);
	 min-height: 65px;
	 margin-left: 10px;
	 padding: 5px 10px;
	 font-size: 0.9rem;
	 color: #555;
	 background-color: #fff;
	 border-bottom: 2px solid #f2f2f2;
}
 
 .comment_block .new_comment .comment_body .replied_to p {
	 padding: 5px;
}
 .comment_block .new_comment .comment_body .replied_to span {
	 color: #6495ed;
	 margin-right: 2px;
}
 .comment_block .new_comment .comment_toolbar {
	 width: 100%;
}
 .comment_block .new_comment .comment_toolbar ul {
	 list-style-type: none;
	 padding-left: 75px;
	 font-size: 0;
}
 .comment_block .new_comment .comment_toolbar ul li {
	 display: inline-block;
	 padding: 5px;
	 font-size: 0.7rem;
	 color: #d9d9d9;
}
 .comment_block .new_comment .comment_toolbar ul li:hover {
	 cursor: pointer;
}
 .comment_details li {
  
    display: initial;
    margin: 5px;

}
 .comment_block .new_comment .comment_toolbar .comment_tools {
	 display: inline-block;
	 vertical-align: middle;
	 width: 30%;
	 text-align: right;
}
 .comment_block .new_comment .comment_toolbar .comment_tools li:hover {
	 color: #ccc;
}
 .comment_block .new_comment .user:hover {
	 color: #6495ed;
	 text-decoration: underline;
}
 .comment_block .new_comment .love:hover {
	 color: #ff6347;
}

  
    </style>
  </head>
  
  
  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
   
    <header>
		<nav id="nav">
			<div class="logo nav-common">
               <a href="/"><h3>Agriculture Market</h3></a> 
            </div>
			<ul class="nav-common">
				<li><a href="/">home</a></li>
				<li><a href="#products">products</a></li>
				<li><a href="#collections">Shops</a></li>
				
                <li><a href="#contact">contact</a></li>
                <li><a href="/login">login</a></li>
			</ul>
			<div class="cart nav-icon nav-common"><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412544/E-commerce%20landing%20page/icons/shopping_cart_1x.png" alt="shopping-cart"></div>
			<div class="menu nav-icon nav-common"><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/icons/menu_1x.png" alt="hamburger-menu"></div>
		</nav>
		
	</header>
	
	<div class=" mb-5 container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" ><img src="/image/<%=image%>" alt="product_pic" /></div>
						  
						</div>
						
                        
                        

					</div>
					<div class="details col-md-6">
						<h3 class="product-title"> <%=title%>  </h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description"><%=description%> </p>
						<h4 class="price">current price: <span><%=price%> TK</span></h4>
						
						
						<div class="action">
              <button class="add-to-cart btn btn-default" type="button">add to cart</button>
              <a href="#review"><button class="like btn btn-default"  type="button"><span class="fa fa-heart"> Review</span></button></a>
							
						</div>
					</div>
				</div>
			</div>
    </div>
    
    <div id="review" class="card">


      <% 
      comments.forEach( function(cmt){ %>
        <div class="new_comment">

          <!-- build comment -->
           <ul class="user_comment">
    
             <!-- current #{user} avatar -->
             <div class="user_avatar">
               <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/73.jpg">
             </div><!-- the comment body -->
             <div class="comment_body">
               <p><%=cmt.comment%></p>
             </div>
    
             <!-- comments toolbar -->
             <div class="comment_toolbar">
    
               <!--  date and time -->
               <div class="comment_details">
                 
                   <li><i class="fa fa-clock-o"></i> <%=cmt.time%></li>
                   <li><i class="fa fa-calendar"></i> <%=cmt.date%></li>
                   <li><i class="fa fa-pencil"></i> <span class="user"><%=cmt.customerid%></span></li>
                 
               </div>
             </div>
           </ul>
         </div>
      

  <%
      }); 
  %>





      

     
  
       </div>



           <!-- comment section for user -->

           <% if(user== 'customer'){  %>

            <div class="card">
              <h3>Give us review or comment</h3>
              <form action="" method="">
               <textarea class="form-control" name="comment" id="cmt" cols="30" rows="10"></textarea>
               <input class="btn btn-primary mt-3" id="comment"  title="<%=userid%>" sid="<%=sid%>"  name="<%=pid%>" type="submit" value="Submit">
              </form>
            </div>
               
         <%  }  %>
      
  


      </div>

    </div>
	</div>
	
	<footer>
		<p class="copy-right"><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/icons/copy-right-img_1x.png" alt="copy right image" /> 2020 all right reserved </p>
		<p>privacy policy</p>
		<p>license</p>
	</footer>
	<div class="back-to-top"><a href="#nav"> <img title="Back to Top." src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/back_-_top_1x.png" alt="back to top"></a> </div>

    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


    <script>
        

       



$(document).ready(function() {
 
$('#comment').click(function (e) {
  e.preventDefault();

  var sellerid=$('#comment').attr('sid');
  let userid= $(this).prop("title");
  let pid = $(this).prop("name");
  var comment = $('textarea#cmt').val();

  
     
  $.ajax({

url: '/product/'+pid+'',
type: "POST",
data: {
'sellerid' : sellerid,
'cid': userid,
'comment' : comment

},
success: function(response) {

   let pid= JSON.parse(response);
   
   window.location.href= '/product/'+pid+'';



},
error: function (request, status, error) {
//alert('error');  //it will show error in webpage if any
}

});

  
});
  

});

      
    </script>
      </body>
</html>